@model List<ResultPeopleViewingDto>

<section class="py-5">
    <div class="container-fluid">
        <h2 class="my-5">
            İnsanlar ayrıca şunları da arıyor
        </h2>

        @foreach(var item in Model)
        {
            <a href="#" class="btn btn-warning me-2 mb-2">@item.Title</a>
        }
        
    </div>
</section>
